<div class="container-fluid employee-detail">
	<div class="row">
		<div class="col-md-2">
			<img [src]="'/assets/images/Profile pics/' + employee.image" width="120" />
		</div>
		<div class="col-md-10">
			<p class="name" [ngClass]="'txt-s-' + employee.popularity">{{ employee.name }}</p>
			<div class="popularity">
				<span>Popularity</span>
				<mat-slider min="1" max="5" step="1" [(ngModel)]="employee.popularity" width="500" color="primary"></mat-slider>
			</div>
			<div class="biography">
			  <h2>Biography</h2>
			  <p>{{ employee.biography }}</p>
			</div>
		</div>
	</div>
</div>